
.myclass{
  padding-left: 260px;
}
.navigation-bar{
  display: flex;
  justify-content: space-between;
  /* height: 190px; */
  /* background-color: red; */
  align-items: left;
  /* margin-top: 40px; */
}
.logo{
  padding-left: 25px;
  padding-top: 10px;
  width: 40%;
  height: 90px;
  background-color: #ffc107;
}
.menu{
  padding-top: 25px;
  font-weight: normal;
  font-style: normal;

  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  height: 90px;
  background-color: #1a1a37;
  
}
.menu ul li{
  display: inline-block;
  padding: 10px 10px;
  color: white;
}
.menu ul li a{
  font-weight: bold;
  color: white;
}





.slider{
  margin-top: 150px;
  width: 95%;
  height:auto;
  /* background-image: url('img/banner-1.jpg'); */
}

.carousel-indicators .myclass2{
  width: 10px;
  height: 10px;
  margin: 0px 7px;
  background-color: #ffbc3b;
}
.carousel-item img{
  height:auto;
  width: 90%;
}
.carousel-caption {
padding-bottom: 160px;
padding-left: 40%;
/* background-color: #b5b5b7; */
  
}
.carousel-caption h5{
  font-size: 50px;
  color: #ffab08;
  text-transform: capitalize;
}
.carousel-caption p{
color: white;
width: 60%;
margin-left: 120px;
}
.carousel-caption .my-class3{
width: 150px;
padding: 10px 16px;
margin-left: 200px;
}



.section-one{
  background: #fcf9f9;
 /* display: flex; */
  justify-content: space-between;
align-items:center;
}
.rightcontent{
  display: flex;
  justify-content: space-between;
}
.contentbox{
  padding: 10px;
  width: 45%;
  border: 1px solid rgb(214, 214, 214);
  margin: 10px;
}

p, .paragraph {
  font-weight: 400;
  color: #5c5c77;
  font-size: 15px;
  line-height: 1.9;
  font-family: "Poppins", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #1e1e4b;
  font-family: "futura-bold";
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 60px;
}
h2, .h2 {
  font-size: 40px;
}
h3, .h3 {
  font-size: 25px;
}
h4, .h4 {
  font-size: 20px;
}
h5, .h5 {
  font-size: 18px;
}
h6, .h6 {
  font-size: 16px;
}
/* Button style */
.btn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 15px 40px;
  border-radius: 0;
  font-weight: 500;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  overflow: hidden;
  white-space: nowrap;
}

.btn::before {
  position: absolute;
  content: "";
  height: 80%;
  width: 100%;
  left: 0;
  bottom: 10%;
  z-index: -1;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.btn:active, .btn:hover, .btn.focus, .btn:focus, .btn.active {
  outline: 0;
  box-shadow: none !important;
}

.btn:active::before, .btn:hover::before, .btn.focus::before, .btn:focus::before, .btn.active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.btn-sm {
  font-size: 14px;
  padding: 10px 35px;
}

.btn-xs {
  font-size: 12px;
  padding: 5px 15px;
}

.btn-primary {
  color: #fff;
  background-color: #ffbc3b;
}

.btn-primary::before {
  background-color: #fff;
}

.btn-primary:active, .btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.active {
  color: #ffbc3b !important;
  background-color: #ffab08 !important;
  border-color: #ffab08 !important;
}

.btn-outline-primary {
  color: #ffbc3b;
  background-color: transparent;
  border: 1px solid #ffbc3b;
}

.btn-outline-primary::before {
  background-color: #fff;
}

.btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary.focus, .btn-outline-primary:focus, .btn-outline-primary.active {
  color: #ffbc3b !important;
  background-color: #ffbc3b !important;
  border-color: #ffbc3b !important;
}

.btn-light {
  color: #ffbc3b;
  background-color: #fff;
  border: 1px solid #fff;
}

.btn-light::before {
  background-color: #ffbc3b;
}

.btn-light:active, .btn-light:hover, .btn-light.focus, .btn-light:focus, .btn-light.active {
  color: #fff !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
}


::-moz-selection {
  background: #ffcd6e;
  color: #fff;
}

::selection {
  background: #ffcd6e;
  color: #fff;
}

/* preloader */

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

a:hover {
  color: #ffbc3b;
}

a.text-primary:hover {
  color: #ffbc3b !important;
}

a.text-light:hover {
  color: #ffbc3b !important;
}

h4 {
  transition: .2s ease;
}

a h4:hover {
  color: #ffbc3b;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.section-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  margin-bottom: 30px;
}

.bg-cover {
  background-image: url('img/TBD_Github_WS_Home_Banner_1.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: #ededf1 !important;
}

/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1a1a37;
  opacity: .8;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #ffbc3b !important;
}

.bg-secondary {
  background: #1a1a37 !important;
}

.bg-gray {
  background: #f8f8f8;
}

.text-primary {
  color: #ffbc3b !important;
}

.text-color {
  color: #5c5c77;
}

.text-light {
  color: #8585a4 !important;
}

.text-lighten {
  color: #d6d6e0 !important;
}

.text-muted {
  color: #b5b5b7 !important;
}

.text-dark {
  color: #1e1e4b !important;
}

.font-secondary {
  font-family: "futura-bold";
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pl-150 {
  padding-left: 150px;
}

.zindex-1 {
  z-index: 1;
}





/* /page title */
.list-styled {
  padding-left: 25px;
}

.list-styled li {
  position: relative;
  margin-bottom: 15px;
}

.list-styled li::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffbc3b;
  left: -25px;
  top: 5px;
}

textarea.form-control {
  height: 200px;
  padding: 20px;
}

#map_canvas {
  height: 500px;
}

.top-header {
  font-size: 12px;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  -webkit-transform-origin: top;
          transform-origin: top;
  font-weight: 600;
}

.top-header.hide {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

/* /banner feature */
/* course */
.card-btn {
  font-size: 12px;
  padding: 5px 10px;
}

.flex-basis-33 {
  flex-basis: 33.3333%;
}

.hover-shadow {
  transition: .3s ease;
}

.hover-shadow:hover {
  box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
}

/* /course */
/* success story */
.success-video {
  min-height: 300px;
}

.success-video .play-btn {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}


.play-btn {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #ffbc3b;
  color: #fff;
  font-size: 20px;
  text-align: center;
}


/* /success story */
/* events */
.card-date {
  position: absolute;
  background: #ffbc3b;
  font-family: "futura-bold";
  text-align: center;
  padding: 10px;
  color: #fff;
  top: 0;
  left: 0;
  text-transform: uppercase;
}

.card-date span {
  font-size: 40px;
}

/* /events */
/* teacher */
.teacher-info {
  width: 70%;
  bottom: 0;
  right: 0;
}

/* /teacher */
/* footer */
.newsletter {
  background-image: linear-gradient(to right, transparent 50%, #ffbc3b 50%);
  margin-bottom: -170px;
  position: relative;
  z-index: 1;
}

.newsletter-block {
  padding-left: 50px;
}


.input-wrapper {
  position: relative;
}

.input-wrapper button {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-control {
  height: 60px;
  background: #fff;
  border-radius: 0;
  padding-left: 25px;
}

.form-control:focus {
  border-color: #ffbc3b;
  box-shadow: none;
}

.newsletter-block .form-control {
  height: 90px;
}

.bg-footer {
  background-color: #182b45;
}

.logo-footer {
  margin-top: -20px;
  display: inline-block;
}

.footer {
  border-color: #494a43 !important;
  padding-top: 275px;
}

/* /footer */
.filter-controls li {
  cursor: pointer;
  transition: .1s ease;
}

.filter-controls li.active {
  font-weight: 600;
  color: #ffbc3b;
}

.filter-controls li:hover {
  color: #ffbc3b;
}
